* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 200%;
    text-align: center;
    margin-top: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 2px solid #272727;
    word-spacing: 10px;
}

p:hover {
    letter-spacing: 10px;
    transition: letter-spacing 1s ease-in-out;
}

button {
    margin: 1rem 0rem 2rem 40rem;
    padding: .8rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #272727;
    background-color: #ff5f5f;
    border: none;
    color: white;
    font-variant: small-caps;
    font-size: large;
}

button:hover {
    background-color: #ae1c1c;
    transition: background-color .5s ease-in-out;
    box-shadow: 0 12px 16px 0 #0000003d;
}

button:active {
    background-color: #750404;
    transform: translateY(5px);
    box-shadow: 4px 4px 4px #00000096;
    transition: background-color .5s ease-in-out;
}

h2,
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    text-align: center;
    border-bottom: 2px solid #272727;
    padding-bottom: .7rem;
    background-image: linear-gradient(hsl(18, 30%, 50%), hsl(28, 30%, 50%), hsl(0, 30%, 50%));
    color: white;
}

h2:hover,
h3:hover {
    background-image: linear-gradient(#ffd1be, #ffc592, #ff8585);
    color: black;
    letter-spacing: 5px;
    word-spacing: 10px;
    border-color: white;
    transform: scale(1.1);
    transition: transform .5s ease;
}

dl {
    font-style: italic;
}

dl:hover {
    transition: font-style .5s ease;
    color: white;
}

dd {
    margin-left: 40px;
}

.col {
    background-image: linear-gradient(#ffd1be, #ffc592, #ff8585);
    box-shadow: 1px 1px 5px #272727;
    border-radius: 1rem;
}

.col:hover {
    background-image: linear-gradient(hsl(18, 30%, 50%), hsl(28, 30%, 50%), hsl(0, 30%, 50%));
    transform: scale(.96);
    transition: transform .5s ease;
}